img{
    width: 100%;
    vertical-align: top;
    
}

.idiomas{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bandera{
    width: 75px;
    margin: 10px;
}

.btn{
    text-align: center;

}

.btn button{
    padding: 10px 20px;
    border: none;
    margin: 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px 0;
    background-color: green;
    color: aliceblue;

}

.Profesora , .Ubicacion {
    width: 320px;
    text-align: center;
    border-radius: 20px 0;
    background-color: green;
    padding-bottom: 15px;
    color: #fff;
    margin: auto;

}